<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      table {
        text-align: left;
        border-collapse: collapse;
        margin: 5px 0;
      }
      .row-numbering {
        width: 3%;
      }
      .system-checklist-activities-detail {
        width: 61.5%;
      }
      .table-border {
        border: 1px solid black;
      }
      th,
      td {
        padding: 5px;
      }
      .text-center {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <table style="width: 100%" cellpadding="0" cellspacing="0">
      <tr>
        <th class="text-center table-border" colspan="4">
          Laptop Configuration Checklist
        </th>
      </tr>
      <tr class="align-left">
        <th class="table-border">Host Name</th>
        <td class="table-border">APC</td>
        <th class="table-border">Keyboard</th>
        <td class="table-border">
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th class="table-border">Asset Serial No.</th>
        <td class="table-border">ASJ</td>
        <th class="table-border">Mouse</th>
        <td class="table-border">
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th class="table-border">Asset Model No.</th>
        <td class="table-border">SRWER</td>
        <th class="table-border">Headphone</th>
        <td class="table-border">
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th class="table-border">User ID</th>
        <td class="table-border">SREG</td>
        <th class="table-border">Additional TFT</th>
        <td class="table-border">
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th class="table-border">Asset Allocation Date</th>
        <td class="table-border">ER</td>
        <th class="table-border">Location</th>
        <td class="table-border">
          <input type="checkbox" /> Delhi
          <input type="checkbox" checked /> Ahmedabad
        </td>
      </tr>
      <tr>
        <th class="table-border">Asset Allocation Type</th>
        <td class="table-border">
          <input type="checkbox" /> New Asset
          <input type="checkbox" checked /> Replacement
        </td>
        <th class="table-border">Handover Type</th>
        <td class="table-border">
          <input type="checkbox" /> Courier
          <input type="checkbox" checked /> User Pickup from Office
        </td>
      </tr>
    </table>

    <table style="width: 100%" cellpadding="0" cellspacing="0">
      <tr>
        <th class="text-center table-border" colspan="4">
          System Checklist Activities
        </th>
      </tr>
      <tr>
        <th class="row-numbering table-border">1.</th>
        <td class="system-checklist-activities-detail table-border">
          Operating System installation-Windows 10 Professional
        </td>
        <td class="table-border">
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th class="table-border">2.</th>
        <td class="table-border">
          Antivinus and Manage Engine agent installed
        </td>
        <td class="table-border">
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th class="table-border">2.A</th>
        <td class="table-border">
          Machine registered successfully on respective Antivirus and Manage
          Engine
        </td>
        <td class="table-border">
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th class="table-border">3</th>
        <td class="table-border">Domain User id created</td>
        <td class="table-border">
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th class="table-border">4</th>
        <td class="table-border">Machine is added to "apouk Incal Domain</td>
        <td class="table-border">
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th class="table-border">4.A</th>
        <td class="table-border">
          Managed via Active Directory viz. USB Disable (read only), APCER
          Password Policy, No Admin Access, Password Change an Next Login etc.
        </td>
        <td class="table-border">
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th class="table-border">5</th>
        <td class="table-border">Wi-Fi access</td>
        <td class="table-border">
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th class="table-border">6</th>
        <td class="table-border">User profile configuration Done</td>
        <td class="table-border">
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th class="table-border">6.A</th>
        <td class="table-border">External email popup for outlook profile</td>
        <td class="table-border">
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th class="table-border">6.B</th>
        <td class="table-border">OneDrive Sync for non-GxP data</td>
        <td class="table-border">
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th class="table-border">6.C</th>
        <td class="table-border">Productivity software/toals installed</td>
        <td class="table-border">
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th class="table-border">7</th>
        <td class="table-border">
          MS office, 7zip, Outlook, Adobe Reader, VNC, Manage Engine Agent,
          TEAMS Desktop software, VPN installation License software installed if
          any with approval Le. Nuance PDF, Acrobat 7Professional etc. (Approval
          mail and License key required)
        </td>
        <td class="table-border">
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th class="table-border">7.A</th>
        <td class="table-border">Asset Register Updated</td>
        <td class="table-border">
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th class="table-border">7.B</th>
        <td class="table-border">
          Printer installation complete. Printer Passcode shared with User
        </td>
        <td class="table-border">
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th class="table-border">9</th>
        <td class="table-border">Multi Factor Authentication configuration</td>
        <td class="table-border">
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th class="table-border">10</th>
        <td class="table-border">Is Laptop physically damaged?</td>
        <td class="table-border">
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th class="table-border">11</th>
        <td class="table-border">Laptop battery backup checked?</td>
        <td class="table-border">
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th class="table-border">12</th>
        <td class="table-border">
          Justification required (Where selected "No"):
        </td>
        <td class="table-border">
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>

      <tr>
        <td class="table-border" colspan="4">
          After reading above, User acknowledges to understand that: User is
          responsible for protection of company asset/s and data (personal and
          customer data on them. Any GxP data or Confidential/sensitive customer
          data, will be saved/stored on cilent specific folder/s on file server
          as per in place APCER Quality Policies and Procedures or timely
          advises communicated by the Quality and Compilance team User will
          strictly adhere to laid down policies and procedures related to
          organization data privacy and data protection and/or timely advises
          from IT/Quality department to deal with any security related issues or
          matter.
        </td>
      </tr>
    </table>

    <table style="width: 100%" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <table style="width: 100%" cellpadding="0" cellspacing="0">
            <tr>
              <th class="text-center" colspan="2">
                Business User Acknowledgement
              </th>
            </tr>
            <tr>
              <td>User Name</td>
              <td>VishalW</td>
            </tr>
            <tr>
              <td>User Signature Date</td>
              <td>08/NOV/2021</td>
            </tr>
          </table>
        </td>
        <td>
          <table style="width: 100%" cellpadding="0" cellspacing="0">
            <tr>
              <th class="text-center" colspan="2">IT Engineer</th>
            </tr>
            <tr>
              <td>Engineer Name</td>
              <td>Altag Manri</td>
            </tr>
            <tr>
              <td>Sign & Date</td>
              <td>altaf klnsdf</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
