<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rikiel Asset Management</title>

    <style>
      body {
        padding: 20px;
        font-size: 14px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to <span style="color: rgb(249, 115, 22);">Rikiel Asset Management</span></h1>
  </body>
</html>
