<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      table {
        text-align: left;
      }
    </style>
  </head>
  <body>
    <table style="width: 100%" border="0" cellpadding="0" cellspacing="0">
      <tr class="align-left">
        <th>Host Name</th>
        <td>APC</td>
        <th>Keyboard</th>
        <td>
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th>Asset Serial No.</th>
        <td>ASJ</td>
        <th>Mouse</th>
        <td>
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th>Asset Model No.</th>
        <td>SRWER</td>
        <th>Headphone</th>
        <td>
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th>User ID</th>
        <td>SREG</td>
        <th>Additional TFT</th>
        <td>
          <input type="checkbox" /> Yes <input type="checkbox" checked /> No
        </td>
      </tr>
      <tr>
        <th>Asset Allocation Date</th>
        <td>ER</td>
        <th>Location</th>
        <td>
          <input type="checkbox" /> Delhi
          <input type="checkbox" checked /> Ahmedabad
        </td>
      </tr>
      <tr>
        <th>Asset Allocation Type</th>
        <td>
          <input type="checkbox" /> New Asset
          <input type="checkbox" checked /> Replacement
        </td>
        <th>Handover Type</th>
        <td>
          <input type="checkbox" /> Courier
          <input type="checkbox" checked /> User Pickup from Office
        </td>
      </tr>
    </table>
  </body>
</html>
